<!-- ko if: modalComponent() -->
<div class="modal-backdrop fade in"></div>

<div data-bind="css: {'modal-full': fullScreen}, click: backdropClicked" class="modal fade in" role="dialog" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" style="display: block; padding-left: 0px;">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div data-bind="component: {name: modalComponent(), params: modalOptions()}"></div>
      </div>
   </div>
</div>

<!-- /ko -->
