<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form class="form-inline" data-bind="submit: activate">

      <div class="input-group">
        <input id="voucher-code-input" name="code" data-bind="value: value, attr: {placeholder: voucher_code_text}" type="text" class="form-control input-lg">
        <span class="input-group-btn" id="basic-addon2">
          <button type="submit" class="btn btn-lg btn-primary">
            <span data-bind="translate: 'ACTIVATE'"></span>
          </button>
        </span>
      </div>

    </form>
  </div>
</div>

