<div class="modal-header text-center">
  <h2 class="modal-title text-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <span data-bind="translate: 'PAGE_OUTDATED'"></span>
  </h2>
</div>

<div class="modal-body text-center">
  <p class="alert alert-warning">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <span data-bind="translate: 'UNABLE_TO_SYNC_MSG'"></span>
  </p>
</div>

<div class="modal-footer text-center">
  <a class="btn btn-primary" href="/">
    <span class="glyphicon glyphicon-refresh"></span>
    <span data-bind="translate: 'RELOAD_PAGE'"></span>
  </a>
</div>

