<div class="modal-header text-center">
  <h2 class="modal-title text-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    Page Outdated
  </h2>
</div>

<div class="modal-body text-center">
  <p class="alert alert-warning">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  Unable to synchronize remaining time/data from server. Please reload the page.
  </p>
</div>

<div class="modal-footer text-center">
  <a class="btn btn-primary" href="/">
    <span class="glyphicon glyphicon-refresh"></span>
    Reload Page
  </a>
</div>

