<div class="btn-group-padded">
  <!-- ko ifnot: showingBuyBtns -->

  <!-- ko if: hasSessions -->
  <!-- ko if: hasRunningSession -->
  <a class="btn btn-lg btn-warning" data-bind="click: pauseSession, enable: allowPause">
    Pause
    <i class="glyphicon glyphicon-pause"></i>
  </a>
  <!-- /ko -->
  <!-- ko ifnot: hasRunningSession -->
  <a class="btn btn-lg btn-primary" data-bind="click: startSession">
    Start
    <i class="glyphicon glyphicon-play"></i>
  </a>
  <!-- /ko -->
  <!-- /ko -->

  <!-- ko if: showInsertCoin -->
  <a class="btn btn-lg btn-success" data-bind="click: toggleBuyButtons">Insert Coin</a>
  <!-- /ko -->

  <!-- /ko -->

  <!-- ko if: showingBuyBtns -->

  <!-- ko ifnot: showingBuyWifiBtns  -->
  <a class="btn btn-lg btn-primary" data-bind="click: toggleBuyWifiBtns">Buy WiFi</a>
  <a class="btn btn-lg btn-info" data-bind="click: function(){ $root.buyVoucher() }">Buy E-Load</a>
  <!-- /ko -->

  <!-- ko if: showingBuyWifiBtns -->
  <a class="btn btn-lg btn-success" data-bind="click: toggleBuyWifiBtns">WiFi Time</a>
  <a class="btn btn-lg btn-success" data-bind="click: toggleBuyWifiBtns">WiFi Data</a>
  <a class="btn btn-lg btn-success" data-bind="click: toggleBuyWifiBtns">WiFi Voucher</a>
  <!-- /ko -->

  <!-- /ko -->


</div>
