<div
    id="toasts-con"
    class="toast"
    data-bind="foreach: {data: messages, afterAdd: showToast}"
    >

    <div
        class="alert"
        data-bind="css: {'alert-success': type() == 'success', 'alert-danger': type() == 'error'}"
        >

        <button data-bind="click: function () { $parent.messages.remove($data) }" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>


        <strong data-bind="text: title"></strong>
        <p data-bind="html: message"></p>

    </div>

</div>
