<!-- ko if: sessions.hasSessions() -->

<!-- ko if: sessions.hasRunning() && allowPause() -->
<button class="btn btn-block btn-lg btn-warning start-pause-button" data-bind="click: pauseSession, enable: allowPause">
  <span data-bind="translate: 'PAUSE'"></span>
  <i class="glyphicon glyphicon-pause"></i>
</button>
<!-- /ko -->

<!-- ko ifnot: sessions.hasRunning() -->
<button class="btn btn-block btn-lg btn-success start-pause-button" data-bind="click: startSession, disable: starting">
  <span data-bind="translate: 'CONNECT'"></span>
  <i class="glyphicon glyphicon-play"></i>
</button>
<!-- /ko -->

<!-- /ko -->
