<!-- ko if: sessions.hasSessions() -->

<!-- ko if: sessions.hasRunning() && allowPause() -->
<button class="btn btn-block btn-lg btn-warning" data-bind="click: pauseSession, enable: allowPause">
  Pause <span data-bind="text: pause_limit() "></span>
  <i class="glyphicon glyphicon-pause"></i>
</button>
<!-- /ko -->

<!-- ko ifnot: sessions.hasRunning() -->
<button class="btn btn-block btn-lg btn-primary" data-bind="click: startSession, disable: starting">
  Connect
  <i class="glyphicon glyphicon-play"></i>
</button>
<!-- /ko -->

<!-- /ko -->
