<div id="status-nav" data-bind="click: focusSessions">
  <!-- ko if: isDeviceReady() ||  hasSessions() -->
  <span id="session-summary" data-bind="text: summary"></span>
  <span id="connection-status">
    <img data-bind="attr: {src: icon_src}"/>
  </span>
  <!-- /ko -->

  <!-- ko ifnot: isDeviceReady() -->
  <!-- ko ifnot: hasSessions() -->
  <span id="session-summary">
    <img src="/uploads/img/preloader.gif" style="width: 20px;margin: 10px;"/>
    Syncronizing device data ...
  </span>
  <!-- /ko -->
  <!-- /ko -->

</div>

