<!-- ko if: sessions().length -->
<div class="padd-top">
  <div class="panel panel-primary" data-bind="sessions: $data.sessions">

    <div class="panel panel-heading" data-bind="translate: 'AVAILABLE_SESSIONS'"></div>

    <table class="table">
      <thead>
        <th class="text-center" data-bind="translate: 'CREDITS'"></th>
        <th class="text-center" data-bind="translate: 'EXPIRY'"></th>
        <th class="text-center"></th>
      </thead>
      <tbody>
        <!-- ko foreach: { data: sessions } -->
        <tr>
          <td data-bind="text: credits() + (is_free_trial ? ' (FREE)' : ''), css: {'text-success': status() == 'running'}"></td>
          <td data-bind="text: formatted_expiry_date"></td>
          <td>
            <!-- ko if: showPauseBtn() && allow_pause() -->
            <button class="btn btn-warning" data-bind="disable: !allow_pause() || pausing(), click: pauseSession">
              <i class="glyphicon glyphicon-pause"></i>
            </button>
            <!-- /ko -->
            <!-- ko if: showStartBtn -->
            <button class="btn btn-primary" data-bind="disable: starting(), click: startSession">
              <i class="glyphicon glyphicon-play"></i>
            </button>
            <!-- /ko -->
          </td>
        </tr>
        <!-- /ko -->
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <span class="text-muted" data-bind="translate: 'EXPIRY_FORMAT'"></span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!-- /ko -->
