<div class="wrapper">

  <div data-bind="if: $root.currentPage">

    <div data-bind="visible: $root.showingStatusNav">
      <div id="status-nav-con" data-bind="component: 'status-nav'"></div>
    </div>

    <div class="container text-center" data-bind="visible: $root.showingBanners">
      <div id="banners-con" data-bind="component: 'banners'"></div>
    </div>

    <div data-bind="component: $root.currentPage"></div>

    <div data-bind="if: $root.showingSessionsTable">
      <div class="container text-center" id="sessions-list-con" data-bind="component: 'sessions-table'"></div>
    </div>
  </div>

  <div data-bind="component: 'toast'"></div>

</div>

<div data-bind="component: 'footer'"></div>

<!-- ko component: 'plugins-js' --><!-- /ko -->
