h1, h2, h3, h4, h5, h6,

#banners-con {
  margin: 0 auto;
  max-width: 1080px;
}

#banners-con img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

#banner-text {
  margin: 15px 0;
}

#banner-text, .btn, th, #footer {
  font-family: 'Righteous';
}

a { cursor: pointer; }

img.img-full {
  width: 100%;
}

.btn-group-padded .btn {
  width: 158px;
  margin: 10px;
}

.padd-top {
  padding-top: 15px;
}
.padd-bottom {
  padding-bottom: 15px;
}

#status-nav {
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#connection-status img {
  width: 20px;
}

.panel > .panel-heading {
  font-family: 'Righteous';
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.phone-input{
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 8px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.has-image-bg {
  background-size: cover;
  background-position: fixed;
  background-repeat: none;
}

.fa {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

/*Plugins*/
.fa-comments{
  left: 35px;
}

.fa-comments:before {
  content: "\e111";
}

.fa-close:before{
  content: "\e014";
}

.fa-chevron-circle-right:before{
  content: "\e171";
}

.voucher-code-input{

}

.fa-qrcode{
  z-index: 99;
  top: 10px !important;
  margin-left: -15px !important;
}

.fa-qrcode:before{
  content: "\e039"
}

.input-group-btn .btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.unread-indicator {
  z-index: 999;
}
