#slogan, .btn, th, #footer {
  font-family: 'Righteous';
}

a { cursor: pointer; }

img.img-full {
  width: 100%;
}

.padd-top {
  padding-top: 15px;
}
.padd-bottom {
  padding-bottom: 15px;
}

#connection-status {
  vertical-align: middle;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
}

#connection-status img {
  width: 20px;
}

